@page
@model BibliotecaSandim.Pages.Membros.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Membro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Membro.MembroID" />
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Membro.Nome" class="control-label"></label>
                <input asp-for="Membro.Nome" class="form-control" aria-required="true"/>
                <span asp-validation-for="Membro.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Membro.Email" class="control-label"></label>
                <input asp-for="Membro.Email" class="form-control" aria-required="true"/>
                <span asp-validation-for="Membro.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membro.DataInscricao" class="control-label"></label>
                <input asp-for="Membro.DataInscricao" class="form-control" />
                <span asp-validation-for="Membro.DataInscricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
